html {
    scroll-behavior: smooth;
    text-align: center;
}

body {
    height: 300vh;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    background: white;
}
.navbar-brand img{
    height: 2rem;
    width: 5rem;
}
.nav-item a{
    color: black;
}

.imageDiv {
    background-image: url(./cover.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2rem;
}
.logo {
    position: fixed;
    top: 40%;
    left: 37%;
    /* transform: translate(-50%, -50%); */
    transition: all 1s ease-in-out;
}

.logo img {
    width: 400px;
    height: 150px;

}
.content{
    background-color: blue;
    margin-top: 150vh;
    z-index: 2;
}