html {
    scroll-behavior: smooth;
    text-align: center;
}

body {
    height: 150vh;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    background: white;
}
.navbar-brand img{
    height: 2rem;
    width: 5rem;
}
.nav-item a{
    color: black;
}

.imageDiv {
    background-image: url(./cover.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    
}
.logo {
    position: fixed;
    top: 40%;
    left: 37%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    transition: all 1s ease-in-out;
}

.logo img {
    width: 400px;
    height: 150px;

}
.content{
    background-color: rgb(255, 255, 255);
    margin-top: 150vh;
    z-index: 2;
}
.reveal{
    transform: translateY(-100px);
}
.shoeMain{
}
.shoeCard{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 21rem;
    margin-top: 2rem;
}
.shoeCard span{
    color: maroon;
    font-size: 1rem;
}
.shoeCard p{
    color: grey;
    margin-bottom: 0px;
}
.price{
    color: black;
}
@media screen and (max-width: 1000px) {
    .logo img {
        width: 270px;
        height: 100px;
    
    }
    .logo {
        top: 40%;
        left: 32%;
        
    }
    .shoeCard{
        width: 35vh;
        
    }
  }

  @media screen and (max-width: 770px) {
    .logo img {
        width: 180px;
        height: 70px;
    
    }
    
    .shoeCard{
        width: 12rem
        
    }
  }
  @media screen and (max-width: 510px) {
    
    .shoeCard{
        width: 95vw
        
    }
    .logo {
        top: 40%;
        left: 30%;
        
    }
  }